aaco.kr, www.aaco.kr, api.aaco.kr {
    handle /api/* {
        reverse_proxy was:8080
    }

    handle {
        root * /srv/frontend
        try_files {path} /index.html
        file_server
    }
}
